<%= if have_current_user?(@conn) do %>
  <div>
    <%= link "New Event", to: Routes.userevent_path(@conn, :new) %>
  </div>
  <div>
    <%= link("Users", to: Routes.user_path(@conn, :index)) %>
  </div>
  <div>
    <%= link("Events", to: Routes.userevent_path(@conn, :index)) %>
  </div>
<% end %>
