<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Vote</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for comment <- @comments do %>
    <tr>
      <td><%= comment.body %></td>
      <td><%= comment.vote %></td>
    </tr>
<% end %>
  </tbody>
</table>
<span><%= link "New Comment", to: Routes.comment_path(@conn, :new) %></span>
